<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>

    <script src="/static/js/dashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
  </head>
  <body>

    <div class="content">
      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Dashboard
          </h1>
        </div>
      </header>

      <main>
        <!-- Initialize a select button -->
        <select id="selectButton"></select>
        <div class="chartContainer">
            <div id="yield" class="chart">
                <text class="chartTitle">Yield trend</text>
                <svg></svg>
            </div>
        </div>
      </main>
    </div>

  </body>

</html>
